extends layout


block content
  .content 
    .about-header 
      h1 About FitTracker 
      p Your partner is fitness excellence 

    .about-content 
      .about-setion 
        h2 Our Mission 
        p FitTracker is designed to help you stay consitent with your fitness goals.

      .about-section 
        h2 Why track Workouts? 
        p tracking your workout helps you 
        ul 
          li stay accountable to your fitness goals 
          li see your progress over time
          li identify areas for improvement 
          li stay motivated with visible results 
          li build lasting fitness habits 

      .about-section 
        h2 built for Athletes 
        p this platfor was created with disciplin and dedication in mind, just like the marine corps, succes in fitness from consitency, planning, and execution.

      .about-section 
        h2 Get started today 
        p Ready to transform your fitness journey? had over to our workouts page to explore different training programs and start tracking your progress! 
        

      
  
