extends layout


block content
  .content 
   .hero 
     h1 welcome to Fittracker 
      p your personal fitness journey starts here 

  .features 
    .feature-card 
     h2 track your progess 
     p Monitor your workouts and see your gains over time 

    .feature-card 
      h2 set goals
      p Mdefine your fitness objective and crush them one rep at a time

    .feature-card 
      h2 stay consistent
      p build lasting habits using the tracking system

    .feature-card 
      h2 achieve results 
      p transform your body and mind through dedication and hard work 

  .cta-section 
    h2 ready to transform your self through fitness?
     p start tracking your workouts today and seethe difference!

