doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   nav.navbar 
    .nav-container 
      a.logo(href='/') FitTracker 
      ul.nav-links 
        li 
          a(href='/') home
        li 
          a(href='/about') About 
        li 
          a(href='/workouts') Workouts

  block content