extends layout 

block content 
    

    .workout-intro
      h1= pageTitle 
      p track your fitness journey and stay consitent with your goals! 

    .workout-categories 
      .workout-card 
        h2 strength Training 
        p build muscle and increase strength with compound movements 
        ul 
         li bench press 
         li squats 
         li deadlifts 
         li overhead press 

      .workout-card 
       h2 cardio
       p improve endurance and cardiovascular health 
       ul 
        li running 
        li cycling 
        li jump ropes 
        li HIIT workouts
       


           